<div class="header">
  <h1>#{{ channelName }}</h1>
</div>

<div class="message-wrap" ng-repeat="message in messages">
  <div class="message-info">
    <div class="user-name">
      {{message.document.username}}
      <span class="timestamp">{{ message.document.createdAt | date:'short' }}</span>
    </div>
    <div class="message">
     {{ message.document.body }}
    </div>
  </div>
</div>
<form class="message-form" ng-submit="sendMessage()">

  <div class="input-group">
    <input type="text" class="form-control" ng-model="body" placeholder="Type a message...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Send</button>
    </span>
  </div>

</form>
